#aboutus {
  margin: 30px;
  align-items: center;
  justify-content: center;
}

#aboutustitle {
  margin-bottom: 10px;
}

#aboutuscomponents {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 35%);
  grid-column-gap: 5%;
  max-width: 1950px;
  margin: auto;
  padding: 0px 10px;
  justify-content: center;
}

#aboutuscomponents > * {
  min-width: 350px;
}

#aboutuscopy {
  text-align: left;
  width: 500px;
  height: 330px;
  margin-bottom: 40px;
}

#foundersImageComponent {
  text-align: right;
  align-items: right;
  width: 500px;
  height: 330px;
  position: relative;
}

#foundersImage, #foundersImagebg {
  max-width: 450px;
  border-radius: 15px;
}

#foundersImage {
  position: absolute;
  top: 9px;
  left: 0px;
  z-index: 2;
}

#foundersImagebg {
  position: absolute;
  top: 0px;
  left: 9px;
  z-index: 1;
}

@media screen and (max-width: 600px) {

  #foundersImageComponent {
    display: none;
  }

  #aboutuscopy {
    width: auto;
    height: auto;
    padding: auto;
    margin: auto;
  }
}
