.App {
  text-align: center;
  margin-top: 40px;
}

a {
  color: #3A4B46;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Markazi Text";
}

h1 {
  font-size: 56pt;
  color: #F4CE14;
  margin: 0px;
  padding: 0px;
}

h2 {
  padding: 0px;
  margin: 0px;
  font-size: 32px;
}

h3 {
  padding: 0px;
  margin: 0px;
}

p {
  font-family: "Karla", regular;
}

h4 {
  margin: 10px 0px;
  text-transform: uppercase;
  font-weight: bold;
}

#navrow {
  display: flex;
  margin: 15px 0px;
  justify-content: center;
  flex-wrap: wrap;
}

#navrow a {
  margin: 5px 0px;
  flex-basis: 90px;
}

#herobackground {
  background-color: #3A4B46;
}

#herosection {
  margin: auto;
  display: flex;
  grid-template-columns: repeat(2, 35%);
  grid-column-gap: 10%;
  max-width: 950px;
}

#herocopy {
  margin-left: 10%;
  color: white;
  text-align: left;
  width: 50vw;
}

#herocopy h2 {
  margin-top: 20px;
}

#herodescription {
  text-align: left;
  width: 300px;
  height: 150px;
}

#heroimagediv {
  align-items: right;
  margin-right: 10%;
}

#heroimage {
  height: 350px;
  border-radius: 15px;
}

footer {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  margin: 200px 60px 20px 60px;
  max-width: 800px;
}

footer .quarter {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  flex-basis: 130px;
}

footer a {
  margin: 3px 10px;
}

#footerlogo {
  height: auto;
  max-width: 80px;
  min-width: 40px;
  display: center;
  padding-right: 50px;
  padding-bottom: 30px;
}

#footerlogo img {
  margin-top: 10px;
}

#copyright {
  background-color: #3A4B46;
  margin: 0px;
  height: 60px;
  width: 100%;
}

#copyright h4 {
  justify-content: center;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
}
