.App {
  text-align: center;
  margin-top: 40px;
}

button {
  background-color: #F4CE14;
  color: #3A4B46;
  font-family: "Markazi Text";
  font-size: 20px;
  border-radius: 15px;
  border: none;
  height: 35px;
  width: 120px;
  transition-duration: 0.2s;
}

button:hover {
  background-color: black;
  color: #F4CE14;
}

a {
  color: #3A4B46;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Markazi Text";
}

h1 {
  font-size: 56pt;
  color: #F4CE14;
  margin: 0px;
  padding: 0px;
}

h2 {
  padding: 0px;
  margin: 0px;
  font-size: 32px;
}

h3 {
  padding: 0px;
  margin: 0px;
}

p {
  font-family: "Karla", regular;
}

h4 {
  margin: 10px 0px;
  text-transform: uppercase;
  font-weight: bold;
}

#navrow {
  display: flex;
  margin: 15px 0px;
  justify-content: center;
  flex-wrap: wrap;
}

#navrow a {
  margin: 5px 0px;
  flex-basis: 90px;
}

#herobackground {
  background-color: #3A4B46;
}

#herosection {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: auto;
  padding-left: auto;
  display: flex;
  grid-template-columns: repeat(2, 35%);
  grid-column-gap: 10%;
  max-width: 950px;
}

#herocopy {
  margin-left: 10%;
  color: white;
  text-align: left;
  width: 50vw;
}

#herocopy h1 {
  width: 330px;
}

#herocopy h2 {
  margin-top: 20px;
}

#herodescription {
  text-align: left;
  width: 300px;
  height: 75px;
}

#heroimagediv {
  align-items: right;
  margin-right: 10%;
}

@media screen and (max-width: 600px) {
  #herosection {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  #heroimagediv {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 46pt;
    width: 270px;
  }
}

#heroimage {
  height: 350px;
  border-radius: 15px;
}

footer {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: auto;
  padding-top: 100px;
  max-width: 800px;
  justify-content: center;
}

footer .quarter {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  flex-basis: 130px;
}

footer a {
  margin: 3px 10px;
}

#footerlogo {
  height: auto;
  max-width: 80px;
  min-width: 40px;
  display: center;
  padding-right: 50px;
  padding-top: 5px;
}

#footerlogo img {
  margin-top: 10px;
}

#copyright {
  background-color: #3A4B46;
  color: white;
  margin: 0px;
  height: 60px;
  width: 100%;
}

#copyright h4 {
  justify-content: center;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
}
