.App {
  text-align: center;
  margin: 40px;
}

h4 {
  margin: 10px 0px 10px 5px;
  text-transform: uppercase;
  font-weight: bold;
}

navigation {
  background-color: purple;
  display: grid;
}

navigation li {
  display: inline;
  padding: 40px;
}

footer {
  background-color: purple;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding-bottom: 15px;
}

footer quarter {
  display: flex;
  flex-direction: column;
}

footer a {
  margin: 3px 5px;
}

#logo {
  vertical-align: center;
  border: 1px;
  border-color: black;
  margin: 35px;
  padding: 10px;
}

#navigation, #socialMedia, #contact {
  text-align: left;
}

