#dish {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
}

#dishes {
}

#dishcomponenttitle {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 850px;
  margin: auto;
  padding: 20px 40px 0px 40px;
  justify-content: space-between;
}

#dishcomponenttitle div {
  text-align: left;
}

#dishcomponenttitle button {
  font-family: "Markazi Text";
  font-size: 20px;
}

.dishcard {
  margin: 25px;
  height: 425px;
  width: 250px;
  background-color: #555;
  border-radius: 15px;
}

.dishimage {
  width: 250px;
  height: 166px;
  border-radius: 15px 15px 0px 0px;
}

.dishtext {
  padding: 15px;
}

.dishhead {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 18px;
  font-family: "Markazi Text";
}

.dishname {
  text-align: left;
}

.dishprice {
  color: red;
  text-align: right;
}

.dishcopy {
  height: 100px;
  text-align: left;
  padding-top: 15px;
  font-family: "Karla", regular;
}

.dishtext p {
  text-align: left;
  padding-top: 45px;
}

.dishtext p a {
  color: #F4CE14;
}
